@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-background: #050511;
  /* Deep Space Purple */
  --color-foreground: #E6E6E6;
  --color-card: rgba(255, 255, 255, 0.03);
  --color-muted: #9CA3AF;
  --color-accent: #D946EF;
  /* Neon Purple */
  --color-cyan: #06B6D4;
  /* Neon Cyan */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-script: var(--font-playfair-display);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar for GitHub Calendar */
.github-calendar-wrapper *::-webkit-scrollbar {
  height: 6px !important;
  width: 6px !important;
}

.github-calendar-wrapper *::-webkit-scrollbar-track {
  background: transparent !important;
}

.github-calendar-wrapper *::-webkit-scrollbar-thumb {
  background-color: #374151 !important;
  /* gray-700 */
  border-radius: 20px !important;
}